@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
    --primary-pink: #FF007F;
}

body {
    color: #FF007F;
    /* Default text hot pink */
    background: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Brutalist Custom Utilities */
.brutalist-border {
    border: 2px solid #FF007F;
}

.brutalist-border-b {
    border-bottom: 2px solid #FF007F;
}

.brutalist-border-r {
    border-right: 2px solid #FF007F;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}